[submodule "yoloxcoral"]
	path = yoloxcoral
	url = https://github.com/chxadr/yoloxcoral.git
[submodule "humanxalien-dataset"]
	path = humanxalien-dataset
	url = https://github.com/chxadr/humanxalien-dataset.git
